# ipython
.ipynb_checkpoints/

# pycache
code/cerebro/__pycache__
code/__pycache__

# packaging
build/
dist/
*.egg-info/

# sublime workspace and project
cerebro-viewer.sublime-workspace
cerebro-viewer.sublime-project

# secrets not to be pushed to git
secrets.txt

# log files
*.log
